:root {
    --max-width: 1000px;
    --item-card-image-max-height: 300px;
    --item-image-max-height: 400px;
    --card-min-width: 160px;

    --night: #0C0F0A;
    --white: #FFFFFF;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

#logo {
    background: grey;
    font-size: 2rem;
}

nav {
    background: cyan;
}

header {
    background: orange;
}

main {
    background: pink;
    display: grid;
    gap: 50px;
}

section {
    background: yellow;
    max-width: var(--max-width);
}

footer {
    background: grey;
}



/***************************** BODY (CONTENT) *****************************/
.body {
    display: grid;
    gap: 15px;
    line-height: 1.5rem;
}

figcaption {
    font-style: italic;
}
/***************************** BODY (CONTENT) *****************************/


/***************************** POST CARDS *****************************/
.post-cards-wrapper {
    background: #ff67bb;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
}

.post-card {
    background: violet;
}

.post-card-name {
    font-size: 1.2rem;
    font-weight: bold;
}
/***************************** POST CARDS *****************************/



/***************************** POST CARDS *****************************/
.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/***************************** POST CARDS *****************************/



/***************************** ITEM CARDS *****************************/
.item-cards-wrapper {
    background: #ff67bb;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
}

.item-card {
    background: violet;
}

.item-card-name {
    font-size: 1.2rem;
}
/***************************** ITEM CARDS *****************************/



/***************************** ITEM *****************************/
#item {
    display: grid;
    gap: 30px;
}

#item-tag-label-and-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#item-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px;
}

#item-images {
    display: grid;
    gap: 10px;
}

#item img {
    max-height: var(--item-image-max-height);
}

#item-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#item-image-thumbnails img {
    width: 50px;
    cursor: pointer;
}

.item-external-link-button {
    background: red;
}

.item-external-link {
    background: lime;
    padding: 20px;
    display: inline-block;
}
/***************************** ITEM *****************************/