:root {
    --night: #0C0F0A;
    --white: #FFFFFF;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

#logo {
    background: grey;
}

nav {
    background: violet;
}

header {
    background: orange;
}

main {
    background: pink;
}

footer {
    background: grey;
}