:root {
    --max-width: 1000px;
    --nav-button-dimensions: 22px;
    --item-card-image-max-height: 300px;
    --item-image-max-height: 400px;
    --card-min-width: 150px;
    --padding-sides: 20px;

    --night: #0C0F0A;
    --battleship-gray: #868785;
    --white: #FFFFFF;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--night);
}

img {
    max-width: 100%;
    display: block;
}

#logo-and-nav-button-wrapper {
    background: var(--night);
    position: sticky;
    top: 0;
}

#logo-and-nav-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    padding: 5px var(--padding-sides);
}

#logo {
    font-size: 1.7rem;
    font-weight: bold;
}

#logo a:link,
#logo a:active,
#logo a:visited {
    color: var(--white);
    text-decoration: none;
}

#nav-button {
    cursor: pointer;
    width: var(--nav-button-dimensions);
    height: var(--nav-button-dimensions);
    position: relative;
    transition: transform 0.3s ease;
}

#nav-button div {
    background: var(--rose);
    width: 100%;
    height: 5px;
    position: absolute;
}

#nav-button div:first-of-type {
    top: 50%;
    transform: translate(0%, -50%) rotate(0deg);
}

#nav-button div:last-of-type {
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
}

.nav-wrapper {
    background: var(--night);
}


nav {
    background: var(--night);
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: start;
    gap: 20px;
    padding: var(--padding-sides);
    transition: left 0.3s ease;
}

nav a:link,
nav a:active,
nav a:visited {
    text-decoration: none;
    color: var(--white);
}

nav a:hover {
    color: var(--rose);
}

.nav-categories {
    background: var(--night);
    display: grid;
}

.nav-categories-heading {
    font-weight: bold;
    display: grid;
    gap: 10px;
    color: var(--white);
}

.nav-categories {
    font-weight: initial;
    display: grid;
    gap: 10px;
}

#empty-logo-and-nav-button-element {
    width: var(--nav-button-dimensions);
}

.header-wrapper {
    background: var(--white);
}

header {
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding-sides) var(--padding-sides) 0 var(--padding-sides);
    display: grid;
    gap: 10px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.main-wrapper {
    background: var(--white);
}

main {
    display: grid;
    gap: 30px;
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding-sides);
}

footer {
    max-width: var(--max-width);
    margin: auto;
    padding: 30px var(--padding-sides);
    display: grid;
    gap: 40px;
}

#footer-links-wrapper {
    display: grid;
    gap: 40px;
}

.footer-links-heading {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--battleship-gray);
}

.footer-links {
    display: grid;
    gap: 15px;
}

.footer-links a:link,
.footer-links a:active,
.footer-links a:visited {
    color: var(--white);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--rose);
}

#copyright {
    color: var(--white);
    font-size: 0.9rem;
    line-height: 1.3rem;
}


/***************************** BODY (CONTENT) *****************************/
.body {
    display: grid;
    gap: 15px;
    line-height: 1.5rem;
}

figcaption {
    font-style: italic;
}
/***************************** BODY (CONTENT) *****************************/



/***************************** PAGINATION *****************************/
.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pagination a:link,
.pagination a:active,
.pagination a:visited {
    color: var(--night);
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}
/***************************** PAGINATION *****************************/



/***************************** ITEM CARDS *****************************/
.item-cards-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
}

.item-card {
    display: grid;
    gap: 10px;
    align-content: start;
    text-align: center;
}

.item-card-image-wrapper {
    overflow: hidden;
}

.item-card-image-wrapper img {
    transition: transform 0.3s ease;
}

.item-card-image-wrapper img:hover {
    transform: scale(1.1);
}

.item-card-name {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.item-card-name:link,
.item-card-name:active,
.item-card-name:visited {
    color: var(--night);
    text-decoration: none;
}

.item-card-name:hover {
    text-decoration: underline;
}
/***************************** ITEM CARDS *****************************/



/***************************** ITEM *****************************/
#item {
    display: grid;
    gap: 15px;
}

#item-images-body-and-external-link-button {
    display: grid;
    gap: 20px;
    align-items: start;
}

#item-body-and-external-link-button {
    display: grid;
    gap: 15px;
}

#item-tag-label-and-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#item-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

#item-tags-wrapper a:link,
#item-tags-wrapper a:active,
#item-tags-wrapper a:visited {
    color: var(--night);
}

#item-tags-wrapper a:hover {
    text-decoration: none;
}

#item-images {
    display: grid;
    gap: 10px;
}

#item img {
    max-height: var(--item-image-max-height);
}

#item-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#item-image-thumbnails img {
    width: 50px;
    cursor: pointer;
}

.item-external-link {
    background: var(--night);
    padding: 15px;
    display: inline-block;
    border: 1px solid var(--night);
}

.item-external-link:link,
.item-external-link:active,
.item-external-link:visited {
    color: var(--white);
    text-decoration: none;
}

.item-external-link:hover {
    background: var(--white);
    color: var(--night);
    text-decoration: none;
}

#related-items {
    display: grid;
    gap: 30px;
}

#related-items h3 {
    font-size: 2rem;
    text-align: center;
}
/***************************** ITEM *****************************/



/***************************** POST CARDS *****************************/
.post-cards-wrapper {
    display: grid;
    gap: 20px;
}

.post-card {
    display: grid;
    gap: 10px;
    grid-template-columns: 40% auto;
    align-items: center;
}

.post-card-image-wrapper {
    overflow: hidden;
}

.post-card-image-wrapper img {
    transition: transform 0.3s ease;
}

.post-card-image-wrapper img:hover {
    transform: scale(1.1);
}

.post-card-name {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.post-card-name a:link,
.post-card-name a:active,
.post-card-name a:visited {
    color: var(--night);
    text-decoration: none;
}

.post-card-name:hover {
    text-decoration: underline;
}
/***************************** POST CARDS *****************************/



/***************************** POST ITEM CARD *****************************/
.post-item-cards-wrapper {
    display: grid;
    gap: 50px;
}

.post-item-card {
    display: grid;
    gap: 10px;
    align-items: center;
}

.post-item-card img {
    max-height: var(--item-image-max-height);
}

.post-item-card-name-and-description {
    display: grid;
    gap: 10px;
}

.post-item-card-name {
    text-align: center;
}

.post-item-card-description {
    line-height: 1.5rem;
}

.post-item-card a {
    display: inline-block;
}

.post-item-card a:link,
.post-item-card a:active,
.post-item-card a:visited {
    color: var(--night);
    text-decoration: none;
}

.post-item-card a:hover {
    text-decoration: underline;
}
/***************************** POST ITEM CARD *****************************/



/***************************** POST *****************************/
#post section {
    display: grid;
    gap: 30px;
}
/***************************** POST *****************************/


@media screen and (min-width: 500px) {
    #logo-and-nav-button-wrapper {
        position: initial;
        top: initial;
    }

    #logo-and-nav-button {
        justify-content: center;
    }

    #nav-button,
    #empty-logo-and-nav-button-element {
        display: none;
    }

    nav {
        max-width: var(--max-width);
        margin: auto;
        position: initial;
        height: initial;
        width: initial;
        display: flex;
        align-content: initial;
        justify-content: center;
        gap: 40px;
        padding: 5px var(--padding-sides);
    }

    .nav-categories-heading {
        position: relative;
        cursor: pointer;
    }

    .nav-categories {
        position: absolute;
        top: 100%;
        left: -10px;
        width: 200px;
        gap: initial;
    }

    .nav-categories a:link,
    .nav-categories a:active,
    .nav-categories a:visited {
        padding: 10px;
    }

    .post-cards-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .post-card {
        grid-template-columns: initial;
        align-items: start;
        align-content: start;
        text-align: center;
    }

    .post-item-cards-wrapper {
        gap: 30px;
    }

    .post-item-card {
        grid-template-columns: 30% auto;
        gap: 30px;
    }

    .post-item-card-name {
        text-align: initial;
    }

    #item-images-body-and-external-link-button {
        grid-template-columns: 40% auto;
        gap: 30px;
    }

    #footer-links-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 70px;
    }
}